/************************************************************************
// General
*************************************************************************/
::selection {
  background-color: #383809;
  color: #ffff91;
}
body{
	background-position:center top!important;
}
::-moz-selection {
  background-color: #383809;
  color: #ffff91;
}
a {
  -webkit-transition: color .15s, background .15s;
  transition: color .15s, background .15s;
  text-decoration: none;
  color: #f9f9f9;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.active-icon {
  color: #e5e502;
}
.loader {
  background-color: #292929;
  width: 100%;
  height: 110%;
  position: fixed;
  content: "";
  z-index: 10;
  margin-top: -70px;
}
.loader img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -42px;
}
a:focus {
  outline: none;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
  margin-bottom: 3em;
}
.acf-map img{
max-width:none;
}
video {
  max-width: 100%;
  height: auto;
}
iframe,
embed,
object {
  max-width: 100%;
}
.current {
  background-color: #e5e502!important;
  color: black;
}
.wp-caption,
.gallery-caption {
  border: 1px solid gray;
  background-color: #f5f5f5;
  padding: 5px 15px;
  color: black;
  text-align: center;
}
.wp-caption-text {
  font-weight: bold;
}
.bypostauthor,
.sticky {
  color: white;
}
.wp-caption{
  max-width: 100%;
  height: auto;
}
#ficon {
	font-size:2em;
}
/************************************************************************
// Scrollbar
*************************************************************************/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f8f8ff;
}
::-webkit-scrollbar-thumb {
  background-color: #1e90ff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
/************************************************************************
// Homepage
*************************************************************************/
.hdn_data {
	display:none;
}
.homepage .container {
  margin-top: 20px;
}
.homepage .circle {
  position: relative;
}
.homepage .circle > a {
  font-size: 8em;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #16191f;
  transform: translate(-50%, -50%);
}
.homepage .circle > a .fa-user {
  margin-left: .12em;
  margin-top: -0.2em;
}
.homepage .circle > a .fa-globe {
  margin-left: .1em;
}
.homepage .circle > a .fa-file-text {
  margin-left: .1em;
}
.circle {
  background-color: #1e90ffdb;
  position: relative;
  border-radius: 50% 50%;
  margin-bottom: 40px;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.circle a {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.circle:hover {
  background-color: #ff0000c9;
}
.circle:hover a {
  color: #F0F8FF;
}
.circle h1 , h2{
  color:  #F0F8FF;
  /* font-size: 2em; */
  font-weight: 1200;
  font-family: 'Exo', sans-serif;
}
.homepage .h-card {
  text-align: center;
}
.homepage .h-card .name-div,
.homepage .h-card .job-title-div{
  height: 50%;
  position: relative;
}
.homepage .h-card .p-name,
.homepage .h-card .p-job-title {
  text-transform: uppercase;
}
.homepage .h-card .p-name {
 position: absolute;
 bottom: 0;
 width: 100%;
 margin-bottom: 5px;
 line-height: 1.2;
 font-weight: 500;
}
.homepage .h-card .p-job-title {
  font-size: 1.1em;
  margin-top: 5px;
  font-weight: 500;
}
.homepage .h-card:hover {
  background-color: #ff0000c9;
}
.tooltip-mobile {
  text-align: center;
  margin-top: 2em;
}
.tooltip-mobile .u-url {
  text-transform: uppercase;
  background-color: #16191f;
  color: #ffff01;
  font-weight: bold;
  padding: .5em 1em;
  border-radius: 3px;
}
.tooltip-mobile .u-url:active {
  color: #ececec;
}
footer {
text-align: right;
margin-bottom:5px;
}
.love_icon {
	color: #ff0000;
	font-size:12px;
}
.footer_credits {
    background-color: #12121333;
    color: #f9f6f6;
}

span.footer_credits a {
    background-color: #06060657;
    color: #ffff01;
}
/* Social Connections */

.social_media .social_icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  
  .social_media a {
    text-decoration: none !important;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 2px solid #1e90ff;
    border-radius: 10px 0 10px 0;
    color: #fff;
    margin-right: 20px;
    font-size: 22px;
    overflow: hidden;
    position: relative;
    border: 1px solid;
}
  .social_media a i {
	position: relative;
	z-index: 3;
  }
  .social_media a:last-child {
	margin-right: 0px;
  }
  .social_media a:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
  }
  .social_media a i {
	display: inline-block;
	vertical-align: middle;
  }

  /* effects social_media */
  .social_media.effects a {
	  transition: border-radius 2s linear 0s;
	  -webkit-transition: border-radius 2s linear 0s;
	  -moz-transition: border-radius 2s linear 0s;
	  -ms-transition: border-radius 2s linear 0s;
	  -o-transition: border-radius 2s linear 0s;
	  transform: rotate(45deg);
	  -webkit-transform: rotate(30deg);
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transition: all 0.3s linear;
	 }
  .social_media.effects a i {
	  transition: transform 0.01s linear 0s;
	  -webkit-transition: transform 0.01s linear 0s;
	  -moz-transition: transform 0.01s linear 0s;
	  -ms-transition: transform 0.01s linear 0s;
	  -o-transition: transform 0.01s linear 0s;
  }
  .social_media.effects a:hover {
	  border: 1px solid #1e90ff;
	  border-radius: 5px;
	  color: #1e90ff;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  -ms-border-radius: 5px;
	  -o-border-radius: 5px;
	  transform: scale(1.5) rotate(360deg);
	  -webkit-transform: scale(1.5) rotate(360deg);
	  -moz-transform: scale(1.5) rotate(360deg);
	  -ms-transform: scale(1.5) rotate(360deg);
	  -o-transform: scale(1.5) rotate(360deg);
}
/************************************************************************
// Single Pages
*************************************************************************/
.spcl {
	font-size:1em;
	font-weight:bold;
	color:#ffff00;
}
.site-single .container {
  padding: 3em 3em 1em 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #1e90ffd9;
}
.site-single .h-card {
  margin-bottom: 2em;
}
.site-single .about-icons {
  margin-top: 1em;
  margin-bottom: 2em;
}
.site-single .about-icons .col-sm-6 {
  margin-bottom: 2em;
}
.site-single .about-icons .fa {
  font-size: 4em;
  float: left;
  margin-right: .3em;
  margin-bottom: .3em;
  color: #e5e502;
}
.site-single .bookmark {
  text-align: right;
}
.site-single .card-title {
  color: #e5e502;
  margin-bottom: .5em;
}
img.avatar{
  width: 40px;
  height: 40px;
  margin-right: 1em;
}
div#respond{
  border-top: 1px solid gray;
  margin-top: 3em;
  padding-top: 1em;
}
.comment-metadata time{
  font-size:.8em;
}

.h-resume .progress-wrap .progress {
  margin-top: 5px;
}
.expreince-header{
  margin-top: 3em;
}
.h-resume .resume-header .p-title,
.h-resume .expreince-header .p-title {
  color: #e5e502;
}
.expreince-content .p-experience {
  float: left;
}
.expreince-content .p-experience:before {
  width: 5px;
  height: 5px;
  background-color: #e5e502;
  margin-top: 5px;
  float: left;
  margin-right: .5em;
  border-radius: 50%;
}
.expreince-content .dt-duration {
  float: right;
  margin-top: .6em;
}
.expreince-content .dt-duration small {
  background-color: #e5e502;
  color: #16191f;
  padding: .3em .6em;
  border-radius: 10px;
}
.expreince-content .p-affiliation {
  clear: left;
  color: #e5e502;
}
.expreince-content .p-summary {
  float: left;
  border-bottom: 1px solid #21252c;
  padding-bottom: 1em;
}
.expreince-content:nth-last-of-type(1) .p-summary {
  border: none;
}
.expreince-wrap {
  float: left;
}
.contact-single .single-wrap > .col-sm-6 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.single-wrap{
  margin-bottom: 2em;
  border-top: 1px solid #f9f9f9;
}
.site-single .site-footer{
  margin-top: 1em;
  padding-top:1.7em;
  border-top: 1px solid #f9f9f9;
}
.home-icon a {
  float: left;
  font-size: 3em;
  padding:0 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  color: #f9f9f9;
}
.home-icon a:hover {
  background-color: #e5e502;
  color: #16191f;
}
.nav {
  float: right;
  margin-top: .6em;
}
.nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #f9f9f9;
}
.nav a:hover {
  background-color: #e5e502;
  color: #16191f;
}
div.mobile-touch {
  width: 100%;
  height: 45px;
  background-color: #21252c!important;
  text-align: center;
  margin-top: 1em;
}
div.mobile-touch .fa {
  cursor: pointer;
  font-size: 2em;
  margin-top: 11px;
}
.alignleft {
  float: left;
  margin-right: 1em;
  margin-top: 6px;
  margin-bottom: 6px;
}
.aligncenter {
  margin: auto;
  display: block;
}
.alignright {
  float: right;
  margin-left: 1em;
  margin-bottom: 6px;
}
/************************************************************************
// Blog
*************************************************************************/
.blog-homepage img {
  border-bottom: 1px solid transparent;
}
.blog-homepage .blog-wrap {
  margin-top: 3em;
  margin-bottom: 3em;
}

.blog-homepage .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.blog-homepage .col-sm-12 .col-sm-4 {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.blog-homepage .container {
  border: none;
  background-color: #1e90ffd9;
  border-radius: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 3em 3em 2em 3em;
}
.blog-homepage .site-header {
  border-bottom: 1px solid #ececec;
  padding-bottom: 1em;
}
.blog-homepage .home-icon a {
  font-size: 3em;
  float: left;
}
.blog-homepage ul.nav {
  float: right;
}
.blog-homepage ul.nav li a {
  font-weight: bold;
  text-transform: uppercase;
}
.blog-homepage ul.nav li a:hover {
  background-color: #21252c;
  color: #ffff01;
}
.blog-homepage .entry-header .entry-title {
  padding: 1em;
  margin-top: 0;
  margin-bottom:0;
}
.blog-homepage .entry-header .entry-title a {
  text-decoration: none;
}
.blog-homepage .h-entry {
  padding-left: 0;
  padding-right: 0;
}
.blog-homepage .entry-wrap {
  background-color: #16191f;
  padding-bottom: .1em;
}
.blog-homepage .entry-media {
  position: relative;
}
.blog-homepage .entry-media img {
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}
.blog-homepage .entry-media img:hover {
  opacity: .5;
}
.blog-homepage .entry-media .dt-published {
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ffff01;
  font-weight: bold;
  margin-bottom: 0;
  padding: .5em;
  color: #16191f;
}
.heading-title{
  margin-top:5px;
}
.blog-homepage .entry-media .dt-published small {
  display: block;
  text-align: center;
}
.blog-homepage .site-footer {
  border-top: 1px solid #ececec;
  padding-top: 3em;
}
.blog-homepage .site-footer .bookmark {
  text-align: right;
}
.blog-single .col-sm-9 {
  float: none;
  margin: auto;
}
.blog-single img {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}
.blog-wrap .col-sm-12 {
  margin-bottom: 1.3em;
}
.pagination {
  clear: left;
  text-align: center;
}
.pagination .fa {
  background-color: #ffff01;
  padding: 1px 10px;
  color: #16191f;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.pagination .fa:hover {
  background-color: #d3d3d3;
}
.error-page {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 4em;
}
.error-page p {
  margin-top: 2em;
}
.blog-single .fa-calendar-o {
  font-size: .9em;
}
.blog-single .entry-meta {
  margin-bottom: 1em;
}
.blog-single .edit-link,
.blog-single .fa-comment,
.blog-single .u-category {
  margin-left: 1em;
}
.blog-single .tags-list {
  margin-top: 2em;
}
.tags-list a {
  display: inline-block;
  margin-bottom: 5px;
}
.blog-single .tags-list a {
  background-color: #ffff01;
  padding: 5px 10px;
  color: #16191f;
}
.blog-single .tags-list a:hover {
  background-color: #d3d3d3;
}
.blog-single .fa-tags {
  margin-right: 5px;
  font-size: 20px;
}
.breadcrumb {
  background-color: #d3d3d3;
  color: #16191f;
}
.comments-area {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #d3d3d3;
}
.comments-area .comment-list > li {
  border-bottom:1px solid gray;
  padding-bottom: 2em;
  margin-top: 2em;
}
.comment-list > li:last-child{
  border-bottom:none;
}
.comments-area input[type='submit'] {
  background-color: #ffff01;
  border: none;
  padding: 5px 10px;
  color: #16191f;
}
.comments-area input[type='submit']:hover {
  background-color: #d3d3d3;
}
.comment-list {
  padding-left: 0;
}
.form-control {
  background-color: #0e0e0e33;
  color: #bdbdbd;
}
.edit-link-page {
  margin-left: 0!important;
}
.site-footer {
  float: left;
}

.site-footer a{
	color:  #ffff00;
}
/************************************************************************
// Portfolio
*************************************************************************/
.portfolio-wrap {
  border-top: 1px solid #f9f9f9;
  padding-top: 2.3em;
}
.portfolio-wrap img {
  margin: 0;
  -webkit-transition: opacity .15s;
  transition: opacity .15s;
}
.portfolio-wrap img:hover {
  opacity: .5;
}
.portfolio-wrap .product-media {
  position: relative;
}
.portfolio-wrap .product-header {
  background-color: #21252c;
  border-bottom: 1px solid transparent;
}
.portfolio-wrap .product-header .p-name {
  margin: 0;
  padding: .7em 1em;
}
.portfolio-wrap .p-category {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffff01;
  padding: .5em 1em;
  color: #16191f;
  font-weight: bold;
}
.portfolio-wrap .h-product {
  margin-bottom: 10px;
}
.portfolio-wrap .h-product:hover .product-header {
  border-bottom: 1px solid #ffff01;
}
.portfolioFilter {
  margin-left: .4em;
}
.portfolioFilter a {
  background-color: #21252c;
  padding: .5em 1em;
  margin-right: .5em;
  margin-bottom: 1em;
  display: inline-block;
}
.portfolioFilter a:hover {
  color: #16191f;
  background-color: #ffff01;
}
.portfolio-content img {
  max-width: 100%;
  height: auto;
}
.portfolio-deep {
  margin-top: 1em;
}
.portfolio-head {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}
.portfolio-image{
  margin-bottom: 2em;
}
.portfolio-head h2{
  margin-top:10px;
  display: inline;
}
.portfolio-nav {
  display:inline;
  float:right;
}
.portfolio-nav .fa {
  background-color:#bebebe; 
  color:#ececec;
  -webkit-transition:all .15s;
  transition:all .15s;
}
.portfolio-nav .fa:hover {
  background-color:#e5e502;
}
.portfolio-nav .fa-caret-right{
  padding:2px 7px 1px 10px;
}
.portfolio-nav .fa-caret-left{
  padding:2px 9px 1px 8px;
}
.social-list {
  padding-left: 0;
  margin-top: 3.5em;
}
.social-list li {
  float: left;
  list-style: none;
  font-size: 1.2em;
}
.social-list li a {
  background-color: #e5e502;
  display: block;
  margin-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  color: black;
  margin-bottom: 1em;
}
.social-list li a:hover {
  background-color: #ececec;
}
.social-list li a .fa-facebook {
  padding-right: 3px;
  padding-left: 3px;
}
.single-wrap article {
  margin-bottom: 0!important;
}
.p-skill{
	font-size:18px;
}
#fas-ico
{
	color: #E6E6FA;
}
/************************************************************************
// Isotope
*************************************************************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/************************************************************************
// Responsive
*************************************************************************/
@media (min-width: 769px) {
  .homepage img {
    width: 100%;
    height: 100%;
  }
  .circle img {
    border-radius: 50%;
  }
  .mobile-touch {
    display: none;
  }
  .tooltip-mobile {
    display: none;
  }
  .about-icons .col-sm-6:nth-of-type(odd) {
    padding-right: 1em;
  }
  .about-icons .col-sm-6:nth-of-type(even) {
    padding-left: 1em;
  }
  .progress-wrap:nth-of-type(odd) {
    padding-right: 2em;
  }
  .progress-wrap:nth-of-type(even) {
    padding-left: 2em;
  }
  .expreince-wrap:nth-of-type(odd) {
    padding-right: 2em;
  }
  .expreince-wrap:nth-of-type(even) {
    padding-left: 2em;
  }
  .contact-single .single-wrap > .col-sm-6:nth-of-type(odd) {
    padding-right: 2em;
  }

  .contact-single .single-wrap > .col-sm-6:nth-of-type(even) {
    padding-left: 2em;
  }
  .site-single .container {
    border: 1px solid #f9f9f9;
  }
  .form-control {
    width: 90%;
  }
  .wpcf7 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .circle {
    width: 100%;
    height: 270px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .circle {
    width: 100%;
    height: 230px;
  }
}
@media (min-width: 992px) {
  .homepage .container > .col-sm-6:nth-of-type(1) {
    margin-top: 150px;
  }
  .homepage .container > .col-sm-6:nth-of-type(3) {
    margin-top: 150px;
  }
  .homepage .container > .col-sm-6:nth-of-type(4) {
    margin-top: 300px;
  }
  .homepage .container > .col-sm-6:nth-of-type(5) {
    margin-top: 150px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .circle {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 769px) {
  .home-icon {
    text-align: center;
  }
  .home-icon a {
    float: none;
  }
  .blog-homepage .site-header .home-icon {
    text-align: center;
  }
  .blog-homepage .site-header .home-icon a {
    float: none;
  }
  .blog-homepage .site-header .nav {
    background-color: #292929;
  }
  .blog-homepage .site-header .nav a:hover {
    background-color: #d3d3d3;
    color: #292929;
  }
  .circle {
    width: 100%;
    height: 250px;
    background-color: #1e90ffdb;
    border-radius: 0 65px 0 65px;
  }
  .homepage .cv-img {
    height: auto;
    width: 100%;
  }
  .nav {
    display: none;
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #21252c;
  }
  .nav a {
    border-radius: 0;
  }
  .site-single .container,
  .blog-homepage .container {
    margin: 0;
    padding: 15px;
  }
  .bookmark {
    text-align: left!important;
  }
}
