/*
		===================================================================
					Project Name	: 	Portfolio Resume
					Theme URL		:	https://www.about.me/imamcu07/
					Author			: 	MdImAmUdDiN
					Author URL		: 	https://www.facebook.com/imamcu07
					Author Details	:	https://www.about.me/imamcu07
					HeLpLiNe		:	+880 01815 682307
					Email			:	imamcu07@gmail.com
		===================================================================
*/

@import url('css/bootstrap.css');
@import url('css/font-awesome-5-15-1.css');
@import url('css/style.css');